body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffbe0;
}

* {
  border: 0;
  margin: 0;
}

.App {
  padding-top: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  margin: 0 auto;
}

tr {
  height: 103px;
}
.header {
  margin-left: 35%;
  margin-right: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  font-size: 60px;
  cursor: pointer;
}

.score-container {
  height: 70px;
  font-size: large;
  font-weight: 600;
  background-color: rosybrown;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 40px;
  cursor: pointer;
}

.score-container:hover {
  transform: translateY(-1px);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.199);
}

.new-game {
  margin-left: 35%;
  margin-right: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.new-game button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #8f7a66;
  background-color: #8f7a66;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.199);
}

.new-game p {
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.cell {
  height: 100px;
  width: 100px;
  background-color: #878787;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number {
  color: #fff;
  font-size: 35px;
}

.score {
  text-align: center;
}

.color-2 {
  background-color: #50c8ff;
}

.color-4 {
  background-color: green;
}

.color-8 {
  background-color: red;
}

.color-16 {
  background-color: orange;
}

.color-32 {
  background-color: yellow;
}

.color-64 {
  background-color: blue;
}

.color-128 {
  background-color: purple;
}

.color-256 {
  background-color: pink;
}

.color-512 {
  background-color: #50c8ff;
}

.color-1024 {
  background-color: green;
}

.color-2048 {
  background-color: blue;
}

.onGameover {
  opacity: 0.5;
}

.game-over {
  position: absolute;
  color: red;
  top: 58.5%;
  left: calc((100% - 180px) / 2);
  width: 160px;
  font-size: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  animation: moveInFromBelow 2s ease-out;
}

@keyframes moveInFromBelow {
  0% {
    opacity: 0;
    transform: translateZ(-100%);
  }
  50% {
    transform: translateZ(5%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
